<!DOCTYPE html>
<html>
  <head>
    <title>wireframe</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <section>
        <img src="http://via.placeholder.com/300x200" alt="" title="" />
        <img src="http://via.placeholder.com/660x200" alt="" title="" />
      </section>
      <nav>
        <ul>  
        </ul>
      </nav>
    </header>
    <main>
      <img src="http://via.placeholder.com/960x100" alt="" title="" />
      <section></section>
      <nav></nav>
      <article>

      </article>
      <img src="http://via.placeholder.com/200x150" alt="" title="" />
      <img src="http://via.placeholder.com/200x150" alt="" title="" />
      <img src="http://via.placeholder.com/250x75" alt="" title="" />
      <article></article>
      <img src="http://via.placeholder.com/200x200" alt="" title="" />
    </main>
    <footer>
      <section></section>
    </footer>
  </body>
</html>